<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25382959981-qoe0n05sc2sp6c9sq0fsa3pgskjurlj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25382959981-qoe0n05sc2sp6c9sq0fsa3pgskjurlj2</string>
	<key>API_KEY</key>
	<string>AIzaSyC87vIn01fnUy5jDuaORPL90UsvxddSeBM</string>
	<key>GCM_SENDER_ID</key>
	<string>25382959981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nqaze.cc-ohmd</string>
	<key>PROJECT_ID</key>
	<string>cc-ohmd</string>
	<key>STORAGE_BUCKET</key>
	<string>cc-ohmd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25382959981:ios:f6d31a98f15790bc84b864</string>
</dict>
</plist>